<!DOCTYPE HTML>

  <html xmlns:th="http://www.thymealeaf.org">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
<title> Student CRUD App</title>

</head>
<body>
<hr> 

<div class="container">
<a th:href="@{/showFormAdd}" class="btn btn-primary btn-sm mb-4"> Add new Student</a>

<h2 style="text-align: center;"> All Students</h2>
<table class="table table-striped">
<thead class="table-dark">
<tr>
<th> First Name </th>
<th> Last Name </th>
<th> Email </th>
<th> Action </th>
 </tr>
</thead>
<tbody>
<tr th:each="student:${students}">
<td th:text="${student.firstName}">  </td>
<td th:text="${student.lastName}">  </td>
<td th:text="${student.email}">  </td>
<td>
<a th:href="@{/showFormUpdate(studentId=${student.id})}" class="btn btn-info btn-sm"> Update</a>
<a th:href="@{/deleteStudent(studentId=${student.id})}" class="btn btn-danger btn-sm"
onclick="if(!(confirm('Are you sure you want to delete the student ?'))) return false"> Delete</a>

 </td>


</tr> 


</tbody>

</table>

</div>

</body>


</html>



